.fa-github {
font-size: 40px;
color:purple;
opacity:0.5;
}
.fa-github:hover {
transform:scale(1.4);
opacity:1;
}

.fa-stack-overflow {
font-size: 40px;
color:orange;
opacity:0.5;
}
.fa-stack-overflow:hover {
transform:scale(1.4);
opacity:1;
}

.fa-docker {
font-size: 40px;
color:orange;
opacity:0.5;
}
.fa-docker:hover {
transform:scale(1.4);
opacity:1;
}

.fa-hackerrank {
font-size: 40px;
color:orange;
opacity:0.5;
}
.fa-hackerrank:hover {
transform:scale(1.4);
opacity:1;
}



/* reset */
* { margin:0;  padding:0;}
ol,ul { list-style: none;}
/* reset end */

ul {width:785px; margin:0px auto 0;}
ul:after {
    content:'';
    clear:both;
    display:block;
}
ul li {float:left;}
ul li + li {margin-left:15px;}


