---
layout: default
---

<header class="site-header">
  <h1 class="site-logo"><a href="{{ '/' | relative_url }}"><span class="accent">~/</span>hyun<span class="accent cursor">_</span></a></h1>
  {%- if site.theme_config.show_description -%}
  <p>{{ site.description }}</p>
  {%- endif -%}
  <nav class="site-nav">
    {%- for item in site.data.menu -%}
      {%- if item.url %}
    <a href="{{ item.url | relative_url }}" title="{{ item.title }}">[{{ item.nav | default: item.title }}]</a>
      {%- endif -%}
    {%- endfor %}
  </nav>
</header>

{% for item in site.data.menu %}
  {%- if item.post_list -%}
<h2 class="section-title"># {{ item.title }}</h2>
{% include post_list.html category=item.post_list.category limit=item.post_list.limit compact=true %}
  {%- endif -%}
{% endfor %}

{{ content }}
